@import url('https://api.fonts.coollabs.io/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

:root {
    --cell-size: 50px;

    --color-background: #edf2fb;

    --color-primary: #bfdbf7;
    --color-secondary: #5B8FB9;

    --color-text: #265073;
    --color-cell: black;
    --color-shadow: #0d1b2a;
    --color-border: black;

    font-family: 'Roboto', sans-serif;
}

html {
    background-color: var(--color-background);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
}


header {
    font-size: xx-large;
    color: var(--color-text);
    margin: 1rem;
}

h1 {
    margin: 0;
}

#board {
    display: grid;
    gap: 2px;
    padding: 1rem;
}

.cell {
    color: var(--color-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    caret-color: transparent;
    margin: 0;
    padding: 0;
    outline: none;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    border-radius: 4px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-border);
    transition: all 0.2s ease-in-out;
}

.input:focus {
    border: 2px solid var(--color-border);
    box-shadow: 0 0 0 2px var(--color-shadow);
    z-index: 1;
}

.input {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

.locked {
    background-color: var(--color-secondary);
    border: 2px solid var(--color-border);
}

.no-select {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

button {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    border-radius: 4px;
    border: 2px solid var(--color-shadow);
    padding: 0.5rem 1rem;
    color: var(--color-shadow);
    box-shadow: 2px 2px var(--color-shadow);
    transition: all 0.2s ease-in-out;
    background-color: transparent;
}

button:hover {
    transform: translate(-2px, -2px);
    box-shadow: 4px 4px var(--color-shadow);
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: none
}

#solve {
    background-color: var(--color-secondary);
}

footer {
    position: absolute;
    margin-bottom: 1rem;
    bottom: 0;
    text-align: center;
    color: var(--color-text);
    width: 100%;
    font-weight: bolder;
}

footer>p {
    padding: 0;
    margin: 0.5rem 0 0 0;
}

.git-logo {
    width: 32px;
    height: 32px;
}

.toast-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    padding: 0 2rem;
    margin: 1rem;
    background-color: var(--color-shadow);
    border-radius: 12px;
    color: var(--color-background);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Screen width less than 640px */
@media screen and (max-width: 640px) {
    :root {
        --cell-size: 40px;
    }

    .cell {
        font-size: large;
    }

    .controls {
        flex-direction: column;
    }

    button {
        font-size: small;
    }

    .toast-container {
        padding: 0 1rem;
    }
}