:root {
    --color-signal: white;
    --color-dark: #212121;
    --color-text: #fab700;

    font-family: 'Inter', sans-serif;
}

html,
main {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

ul {
    margin-right: 2rem;
}

.container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

[class ^=column] {
    background-color: var(--color-signal);
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: .5rem .5rem 0 var(--color-dark);
}

.column>h2 {
    text-align: center;
    color: var(--color-dark);
}

table {
    text-align: center;
    border-spacing: 0.5rem;
    width: max-content;
}

#GOTY {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
    padding: 1rem;
}

.column img {
    width: 80%;
    align-self: center;
    border-radius: 4px;
    box-shadow: 5px 5px 5px var(--color-dark);
}

@media screen and (min-width: 900px) {
    [class ^=column] {
        width: fit-content;
        height: 100%;
        padding: 1rem;
        border-radius: 4px;
        border: 3px solid var(--color-dark);
    }
}